.button{
    -fx-font-family:"Arial Black";
    -fx-color: #000000;
    -fx-text-align: center;
    -fx-opacity:0.8;
    -fx-background-radius:30;
    -fx-background-insets:0;
    -fx-background-color:linear-gradient(to top,  #3674c3, #2289d9);
}

.button:hover {
    -fx-opacity:1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}