.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane {
  -fx-tab-min-width:80px;
  -fx-tab-max-width:80px;
  -fx-tab-min-height:20px;
  -fx-tab-max-height:20px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 14;
  -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}

.tab:selected {
    -fx-background-color:#93f9b944 ;
}